{% if messages %}
        <div id="message-container" class="fixed top-2 right-4 z-50 space-y-2">
        {% for message in messages %}
            <div class="relative p-4 rounded-lg shadow-md text-white transition-opacity duration-300 opacity-100
            {% if message.tags == 'success' %}
                bg-gradient-to-b from-green-400 via-green-500 to-green-600
            {% elif message.tags == 'error' %}
                bg-gradient-to-b from-red-400 via-red-500 to-red-600
            {% else %}
                bg-gradient-to-b from-gray-400 via-gray-500 to-gray-600
            {% endif %}
            ">
            <button class="absolute top-1 right-1 text-white hover:text-gray-200" onclick="this.parentElement.remove()">
                &times;
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}